.footer{
    background-color: var(--white);
    padding: 60px 0 48px;
}

.container{
    padding: 10px var(--container-padding);
    display: flex;
    gap: 140px;
    align-items: flex-start;
}

.logo{
    fill: var(--primary-color)
}
.icon{
    fill: --var(--primary-color);
}

.links{
    display: flex;
    flex: 1;
    gap: 80px;
}

.column{
    width: 25%;
}

.columnTitle{
    color: var(--grey-800);
    margin: 0 0 20px;
}

.linkList{
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: 12px;
    }

    &:last-child{
        margin-bottom: 0;
    }
}

.link{
    color: var(--grey-600);
    font-size: 14px;
    transition: color 0.2s linear;
    text-decoration: none;

    &:hover{
        color: var(--primary-color);
    }
}

.copyright{
    margin-top: 32px;
    text-align: center;
    color: var(--grey-600);
    font: var(--font-s);
}