.wrapper{
    background-color: var(--primary-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 100%;

}

.filled{
    fill: var(--primary-color);
}